@media only screen and (max-width: 500px){
    .link-nav-1{ 
       display: none
     }
  }

html {
    height: 100%
}
* {
    box-sizing: border-box;
}

.navigation {
    background-color: #404040;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}


body {
    background-color: #ffffff;
    margin: 0%; 
    height: 100%
}

h1 {
    text-align: center;
}


.link-nav-1 {
    padding-inline: 0.5rem;
    font-size: 1.5rem;
}

.link-nav-1 {
    color: black;
    text-shadow:
    -0.03rem -0.03rem 0 #00ffff,
    0.03rem 0.03rem 0 #ff00ff
}

a:link{
    color: #ff66c4;
    text-decoration: none 


}
a:visited {
    color: #ff66c4;
    text-decoration: none 
}

.header-links-center a:hover {
    transition: 0.3s;
    text-decoration: underline;
}
.logo {
    order: 1;
    cursor: pointer;
    width: auto;
    max-width: 10rem;
}

.nav-center-links {
    order: 2;
    display: flex;
	justify-content: center;
	align-items: center;
}
.nav-images {
    order: 3;
    display: flex;
	justify-content: right;
	align-items: center;
}

.nav-icon {
    max-width: 3rem;
    max-height: 3rem;
    padding-inline: 0.05rem;
}
.nav-icon:hover {
    filter: invert();
    transition-duration: 0.5s;
}

a:hover {
    color: #ffffff;
    transition-duration: 0.3s;
}

.footer-section {
    background-color: #ff00ff;
    height: 4rem;
    position: sticky;
    top: 100%
}


/* in case I want to add in svg stylings later
svg {
    max-width: 3rem;
    max-height: 3rem;
    padding-inline: 0.05rem;
}